{% set CLUSTER_TYPE      = env['project'] + '/' + properties['clusterType']  %}
{% set DEPLOYMENT_COLLECTION = '/apis/apps/v1/namespaces/{namespace}/deployments/{name}' %}
{% set INGRESS_COLLECTION = '/apis/extensions/v1beta1/namespaces/{namespace}/ingresses/{name}' %}
{% set SERVICE_COLLECTION = '/api/v1/namespaces/{namespace}/services/{name}' %}

resources:
- name: {{ env['name'] }}-deploy
  type: {{ CLUSTER_TYPE }}:{{ DEPLOYMENT_COLLECTION }}
  properties:
    apiVersion: apps/v1
    kind: Deployment
    namespace: {{ properties['namespace'] | default('default') }}
    metadata:
      name: {{ env['name'] }}-deploy
      labels:
        app: {{ env['name'] }}
        deployment: {{ env['deployment'] }}
    spec:
      replicas: {{ properties['replicas'] | default(2) }}
      selector:
        matchLabels:
          app: {{ env['name'] }}
          deployment: {{ env['deployment'] }}
      template:
        metadata:
          labels:
            app: {{ env['name'] }}
            deployment: {{ env['deployment'] }}
        spec:
          containers:
          - image: {{ properties['image'] }}
            name: {{ properties['containerName'] }}
            ports:
            - containerPort: {{ properties['targetPort'] }}
              protocol: TCP
            imagePullSecrets:
            - name: {{ properties['regSecret'] }}

- name: {{ env['name'] }}-svc
  type: {{ CLUSTER_TYPE }}:{{ SERVICE_COLLECTION }}
  properties:
    apiVersion: v1
    kind: Service
    namespace: {{ properties['namespace'] | default('default') }}
    metadata:
      name: {{env['name'] }}-svc
      labels:
        app: {{ env['name'] }}
        deployment: {{ env['deployment'] }}
    spec:
      type: LoadBalancer
      ports:
      - port: {{ properties['servicePort'] }}
        targetPort: {{ properties['targetPort'] }}
      selector:
        app: {{ env['name'] }}
        deployment: {{ env['deployment'] }}

- name: {{ env['name'] }}-ingress
  type: {{ CLUSTER_TYPE }}:{{ INGRESS_COLLECTION }}
  properties:
    apiVersion: extensions/v1beta1
    kind: Ingress
    namespace: {{ properties['namespace'] | default('default') }}
    metadata:
      name: {{ env['name'] }}-ingress
      labels:
        app: {{ env['name'] }}
        deployment: {{ env['deployment'] }}
    spec:
      rules:
      - http:
          paths:
          - path: /*
            backend:
              serviceName: {{ env['name'] }}-svc
              servicePort: {{ properties['servicePort'] }}
      